.containerInput{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1e1e1e;
    width: fit-content;
    padding: 0 15px;
    border-radius: 10px;
    width: 30%;
    height: 3rem;
    gap: 10px;
    color: #818181;
}

.input{
    border: none;
    outline: none;
    background-color: #1e1e1e;
    width: 100%;
    color: #818181;
    font-size: 18px;
    &::placeholder {
      color: #818181;
    }
}

